// Mixin =======================================================================

// Style for columns text 
// Используется для многоколоночного адаптивного текста, а также для списков
// $width - минимальная ширина колонок
// $count - количество колонок (при уменьшении экрана меняются автоматически в зависимости от первого значения)
// $padding - отступ между колонками
// $divider_widh - ширина разделительной линии между колонками
// $divider_line - стиль разделительной линии 
// $divider_color - цвет разделительной линии 
// Лишнее можно просто закомментировать
// ---------------------------------
// Example for html 
// div class="column"
// ---------------------------------
// Example for scss 
// .column {
// 	@include columns-text(300px, 3, 40px);
// }
@mixin columns($count, $padding, $width) {
	column-count: $count; // Count and width or columns
	column-gap: $padding; // Padding for columns
	column-width: $width; // Min width for columns
}


// Float el clear
%clear_a {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_b {
	&:before {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_all {
	@extend %clear_a;
	@extend %clear_b;
}

// Transition speed for element
@mixin trs($trs_speed) {
	transition: all $trs_speed+s;
}

// Placeholder for input
@mixin placeholder {
	&::-webkit-input-placeholder {@content};
	&:-moz-placeholder           {@content};
	&::-moz-placeholder          {@content};
	&:-ms-input-placeholder      {@content}; 
}

// %form_field {
// 	background-color: transparent;
// 	border: 1px solid transparentize($input_border_color, .8);
// 	padding: 8px 12px 8px;
// 	outline: none;
// 	font-size: 14px;
// 	font-weight: normal;
// 	font-family: $main_font_family;
//     height: auto;
//     line-height: 1;
// 	@include trs(.3);
//     border-radius: 20px;
// 	&:hover {
// 	}
// 	&:focus {
// 		@include placeholder {
// 			text-indent: -600px;
// 		}
// 	}
// 	&.input_error {
// 		background-color: $input_bg_errore_color;
// 		border: 1px solid $input_placeholder_errore_color;
// 	}
// 	// Placeholder for input +++++++++++++++
// 	@include placeholder {
// 		color: $input_placeholder_color;
//         @include trs(.3);
// 	}
// }

%caret {
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;	
    @include trs(.3);
}

%caret_up {
	@extend %caret;
	transform: rotate(180deg);
}


// Определяем поддержку flexbox (задается скриптом атрибут data-browser)
@mixin browser($browsers: flexible) {
  @each $browser in $browsers {
    html[data-browser*="#{$browser}"] & {
      @content;
    }
  }
}

// 
// @TODO: Add docs to flexbox!
// 
@mixin flex() {
	@include browser("flexible") {	
		display: -webkit-box;
		display: -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: -ms-flex;
		display: flex;
		&>* {
			display: block;
		}
	}
	@include browser("not-flex") {	
		display: block;
		font-size: 0;
		line-height: 0;
		letter-spacing: -1px;
		&>* {
			// display: -moz-inline-stack!important;
			display: inline-block;
			vertical-align: top;
			letter-spacing:normal;
			line-height:normal;
			font-size: initial;
		}
	}
}

@mixin order($val) {
	@include browser("flexible") {
		// -webkit-order: $val;  
		order: $val;
	}
}

// 
// @TODO: Add docs to flex-flow!
// flex-flow: flex-direction flex-wrap|initial|inherit;
//
@mixin flex-flow($params) {
	@include browser("flexible") {
	    // -webkit-flex-flow: $params; /* Safari 6.1+ */
	    flex-flow: $params;
	}
}

// 
// @TODO: Add docs to justify-content!
// justify-content: flex-start|flex-end|center|space-between|space-around|initial|inherit;
// 
@mixin justify-content($params) {
	@include browser("flexible") {
	    // -webkit-justify-content: $params; /* Safari 6.1+ */
	    justify-content: $params;
	}
}

// 
// @TODO: Add docs to     -webkit-align-content!
//
@mixin align-content($params) {
	@include browser("flexible") {
	    // -webkit-align-content: $params;
	    align-content: $params;
	}
}
